---
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";
import "@fontsource/newsreader/400.css";

import Footer from "@components/Footer.astro";

const description = "Pcrab's portfolio";
const finalTitle = "Pcrab";
const finalUrl = "https://pcrab.xyz/";
---

<html lang="zh-cn" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <title>{finalTitle}</title>
        <meta name="description" content={description} />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

        <!-- Reduce dns request latency -->
        <meta http-equiv="x-dns-prefetch-control" content="on" />
        <meta property="og:site_name" content={finalTitle} />
        <meta property="og:locale" content="zh-Hans" />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={finalUrl} />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="application-name" content={finalTitle} />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content={finalTitle} />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta
            name="keywords"
            content="Pcrab, 博客, @Pcrab, Hexo, Astro, Web, blog, Front-End, 前端开发, Developer, JavaScript, Typescript, Life"
        />
        <link rel="canonical" href={finalUrl} />
        <style is:global is:inline>
            html {
                margin-left: calc(100vw - 100%);
                height: 100%;
            }
        </style>
    </head>
    <body class="bg-base fg-base h-full w-full">
        <main class="pt-30 pb-10 font-sans m-auto max-w-3xl">
            <slot />
        </main>
        <Footer />
        <a aria-label="Personal icon" class="fixed top-3 left-3" href="https://pcrab.xyz/">
            <svg width="50" height="35" viewBox="0 0 136.601 104.902" xmlns="http://www.w3.org/2000/svg"
                ><g fill-rule="evenodd" stroke="#828282" fill="#828282">
                    <path
                        d="M 40.501 66.902 L 36.201 91.002 A 27.233 27.233 0 0 1 34.627 96.587 Q 31.322 104.573 23.272 104.889 A 17.116 17.116 0 0 1 22.601 104.902 Q 16.501 104.902 11.351 101.302 A 20.738 20.738 0 0 1 6.363 96.272 Q 4.748 94.007 3.462 91.135 A 37.235 37.235 0 0 1 3.101 90.302 Q 0.451 83.977 0.066 75.168 A 70.254 70.254 0 0 1 0.001 72.102 A 104.81 104.81 0 0 1 1.082 56.623 Q 2.316 48.366 4.96 41.431 A 59.186 59.186 0 0 1 6.551 37.652 A 57.538 57.538 0 0 1 13.144 26.63 A 43.272 43.272 0 0 1 24.151 16.452 Q 35.201 9.402 48.501 9.402 A 44.671 44.671 0 0 1 55.668 9.946 Q 60.562 10.742 64.451 12.702 A 25.709 25.709 0 0 1 70.431 16.8 A 21.707 21.707 0 0 1 74.351 21.652 A 24.137 24.137 0 0 1 77.661 32.866 A 29.132 29.132 0 0 1 77.701 34.402 Q 77.701 42.902 73.301 50.002 A 31.021 31.021 0 0 1 64.91 58.865 A 39.444 39.444 0 0 1 60.501 61.602 A 43.118 43.118 0 0 1 50.038 65.494 A 58.881 58.881 0 0 1 40.501 66.902 Z M 23.101 85.502 L 26.401 66.602 Q 22.639 66.023 22.971 66.096 A 1.763 1.763 0 0 0 23.001 66.102 A 12.234 12.234 0 0 1 21.632 65.799 Q 20.227 65.394 19.499 64.716 A 2.626 2.626 0 0 1 19.101 64.252 A 5.092 5.092 0 0 1 18.399 62.606 Q 18.238 61.94 18.208 61.165 A 9.351 9.351 0 0 1 18.201 60.802 A 6.286 6.286 0 0 1 18.362 59.337 A 4.327 4.327 0 0 1 19.451 57.302 A 4.117 4.117 0 0 1 21.604 56.132 A 6.125 6.125 0 0 1 22.901 56.002 A 16.466 16.466 0 0 1 23.37 56.008 Q 23.866 56.022 24.201 56.069 A 3.383 3.383 0 0 1 24.401 56.102 Q 26.801 56.502 28.101 56.602 Q 29.096 50.63 30.736 41.551 A 2413.394 2413.394 0 0 1 31.801 35.702 A 10.208 10.208 0 0 1 32.344 33.724 Q 33.09 31.837 34.551 30.852 Q 36.701 29.402 39.601 29.402 A 13.772 13.772 0 0 1 41.267 29.495 Q 43.297 29.744 44.351 30.652 A 3.852 3.852 0 0 1 45.472 32.358 Q 45.693 33.001 45.766 33.793 A 8.867 8.867 0 0 1 45.801 34.602 Q 45.801 36.202 45.601 37.202 L 42.301 56.602 Q 59.705 54.395 62.333 40.583 A 28.25 28.25 0 0 0 62.801 35.302 A 16.309 16.309 0 0 0 62.027 30.169 A 13.513 13.513 0 0 0 58.451 24.552 A 13.303 13.303 0 0 0 53.736 21.715 Q 51.702 20.976 49.192 20.653 A 32.878 32.878 0 0 0 45.001 20.402 Q 34.701 20.402 27.051 26.902 A 36.635 36.635 0 0 0 19.222 36.364 A 50.793 50.793 0 0 0 15.251 44.952 A 68.695 68.695 0 0 0 11.895 58.974 A 91.691 91.691 0 0 0 11.101 71.302 A 52.441 52.441 0 0 0 11.376 76.807 Q 11.667 79.568 12.269 81.982 A 31.823 31.823 0 0 0 12.351 82.302 A 32.985 32.985 0 0 0 13.29 85.34 Q 14.269 88.01 15.551 89.752 A 11.608 11.608 0 0 0 16.487 90.88 Q 17.58 92.027 18.624 92.31 A 2.584 2.584 0 0 0 19.301 92.402 A 2.053 2.053 0 0 0 20.829 91.641 Q 22.018 90.345 22.823 86.841 A 34.654 34.654 0 0 0 23.101 85.502 Z M 135.56 64.087 A 2.055 2.055 0 0 0 133.901 63.302 A 6.252 6.252 0 0 0 133.802 63.303 Q 133.063 63.314 132.501 63.502 A 89.607 89.607 0 0 1 129.494 64.235 Q 124.876 65.274 121.301 65.502 A 27.893 27.893 0 0 0 120.733 62.135 A 21.725 21.725 0 0 0 116.301 53.052 A 15.375 15.375 0 0 0 111.898 49.363 A 15.698 15.698 0 0 0 105.401 47.502 Q 109.338 42.635 112.05 38.007 A 50.87 50.87 0 0 0 115.701 30.502 A 51.046 51.046 0 0 0 115.892 29.996 A 45.155 45.155 0 0 0 118.801 14.202 Q 118.801 7.902 116.001 3.952 A 11.377 11.377 0 0 0 115.154 2.893 A 8.472 8.472 0 0 0 108.601 0.002 Q 102.326 0.002 97.331 5.807 A 31.773 31.773 0 0 0 93.951 10.652 Q 87.801 21.302 84.601 36.452 A 158.597 158.597 0 0 0 82.358 49.72 A 120.401 120.401 0 0 0 81.401 64.502 A 91.37 91.37 0 0 0 81.403 65.084 Q 81.493 79.256 86.001 86.802 Q 90.601 94.502 100.701 94.502 Q 107.401 94.502 112.951 89.402 A 23.895 23.895 0 0 0 117.731 83.292 A 29.202 29.202 0 0 0 120.501 76.002 A 52.306 52.306 0 0 0 124.91 75.635 A 42.89 42.89 0 0 0 133.701 73.602 Q 135.201 73.102 135.901 71.752 Q 136.388 70.813 136.536 69.319 A 14.395 14.395 0 0 0 136.601 67.902 A 10.564 10.564 0 0 0 136.585 67.318 Q 136.545 66.592 136.402 65.968 A 5.429 5.429 0 0 0 135.901 64.602 A 3.16 3.16 0 0 0 135.56 64.087 Z M 106.301 9.902 A 1.864 1.864 0 0 0 105.148 10.373 Q 103.911 11.359 102.552 14.415 A 36.878 36.878 0 0 0 101.951 15.852 A 56.773 56.773 0 0 0 100.516 19.986 Q 99.075 24.667 97.779 31.106 A 181.237 181.237 0 0 0 97.601 32.002 A 183.497 183.497 0 0 0 95.667 44.078 A 231.58 231.58 0 0 0 94.601 54.302 A 337.207 337.207 0 0 0 99.178 45.628 Q 101.368 41.319 103.154 37.444 A 174.023 174.023 0 0 0 105.151 32.952 A 59.056 59.056 0 0 0 107.539 26.369 Q 108.515 23.032 108.881 20.012 A 29.169 29.169 0 0 0 109.101 16.502 Q 109.101 13.539 108.458 11.862 A 5.701 5.701 0 0 0 108.351 11.602 A 4.441 4.441 0 0 0 107.945 10.863 Q 107.685 10.488 107.377 10.259 A 1.759 1.759 0 0 0 106.301 9.902 Z M 103.801 57.302 L 103.501 57.302 A 7.478 7.478 0 0 0 98.014 59.676 A 11.806 11.806 0 0 0 96.651 61.352 A 14.646 14.646 0 0 0 94.68 65.743 Q 94.145 67.692 93.978 70.009 A 30.396 30.396 0 0 0 93.901 72.202 A 24.274 24.274 0 0 0 94.101 75.425 Q 94.314 77.014 94.756 78.317 A 9.822 9.822 0 0 0 96.051 80.902 Q 97.681 83.177 99.743 83.727 A 5.247 5.247 0 0 0 101.101 83.902 A 6.962 6.962 0 0 0 105.657 82.202 A 9.829 9.829 0 0 0 106.601 81.302 A 10.755 10.755 0 0 0 108.447 78.473 Q 109.363 76.482 109.801 73.802 Q 106.701 71.702 105.051 68.302 Q 103.401 64.902 103.401 61.102 A 13.463 13.463 0 0 1 103.44 60.129 Q 103.514 59.117 103.727 57.757 A 48.281 48.281 0 0 1 103.801 57.302 Z"
                    ></path>
                </g>
            </svg>
        </a>
    </body>
</html>
